# Ejercicio I: base de Colegios de Bogotá.

In [4]:
import pandas as pd
import numpy as np

In [5]:
df_colegios = pd.read_csv('df_colegios')

¿Cuáles son las columnas? ¿Cuántas filas tiene?

In [6]:
df_colegios.columns

Index(['Unnamed: 0', 'año', 'secretaria', 'nombreestablecimiento', 'zona',
       'direccion', 'telefono', 'nombre_Rector', 'tipo_Establecimiento',
       'etnias', 'sector', 'genero', 'niveles', 'jornadas', 'caracter',
       'especialidad', 'grados', 'modelos_Educativos',
       'capacidades_Excepcionales', 'discapacidades', 'idiomas',
       'numero_de_Sedes', 'estado', 'prestador_de_Servicio',
       'propiedad_Planta_Fisica', 'resguardo', 'matricula_Contratada',
       'calendario', 'internado', 'estrato_Socio_Economico',
       'correo_Electronico'],
      dtype='object')

In [7]:
df_colegios.shape

(2404, 31)

Seleccionen los colegios donde la propiedad de la planta física sea de una persona natural o comunidad religiosa.

In [8]:
df_selec=df_colegios[(df_colegios["propiedad_Planta_Fisica"]=="PERSONA NATURAL")|(df_colegios["propiedad_Planta_Fisica"]=="COMUNIDAD RELIGIOSA")]

¿Hay alguno de estos colegios que sea para capacidades excepcionales?

In [9]:
df_selec[df_selec["capacidades_Excepcionales"].notna()]

,Unnamed: 0,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
263,263,2016,BOGOTA,COL CAMPESTRE MAXIMINO POITIERS ...,URBANA,KR 92 148 51,6835013 / 6841539 ...,KILIAN ALEXANDER ARENAS SANABRIA,INSTITUCION EDUCATIVA,AMORÚA,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,kilanarenas@hotmail.com ...
507,507,2016,BOGOTA,LIC VAL (VIDA-AMOR-LUZ) ...,URBANA,CL 71 C 51 31,2251109 -- 2401331 -- 2502167,LUZ ESPERANZA MORALES SARMIENTO,INSTITUCION EDUCATIVA,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,liceo.vida.amor.luz.2@gmail.com
1012,1012,2016,BOGOTA,LIC ECOLOGICO DEL NORTE ...,URBANA,CR. 98A NO.156D-26,6822591 / 6839957 ...,JULIA ALICIA PELAEZ CASTILLO,INSTITUCION EDUCATIVA,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,semillasverdes@hotmail.com ...
1367,1367,2016,BOGOTA,GIMNASIO CAMPESTRE STEPHEN HAWKING,URBANA,KR 68 173 A 50,6718575 -- 3005581260,DORA ASTRID PARDO AVILA,INSTITUCION EDUCATIVA,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,SI,A,NaN,NaN,gcstephenhawking@gmail.com
1964,1964,2016,BOGOTA,COL JONATHAN SWIFT ...,URBANA,KR 90 163 30,6818191,DIANA J. MARQUEZ S.,INSTITUCION EDUCATIVA,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,COLEGIOJONTHANSWIFT@YAHOO.COM.CO ...
2282,2282,2016,BOGOTA,COL CALATRAVA,URBANA,KR 80 156 95,6847860,CONSUELO VALDERRAMA MORALES,INSTITUCION EDUCATIVA,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,info@colegiocalatrava.edu.co - rectoria@colegi...
2341,2341,2016,BOGOTA,INST DE PEDAG AUTOACTIVA DE GRUPOS (IPAG) ...,URBANA,KR 8 C 183 32,6711029 -- 6701198,CARMEN TULIA CORDOBA ACOSTA,INSTITUCION EDUCATIVA,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,colegioipag@gmail.com

¿Cuáles son los colegios que ofrecen todos los niveles educativos? ¿Qué idiomas ofrecen?

# Ejercicio II: PyEPH

### PyEPH

La librería Pyeph tiene como objetivo facilitar el procesamiento en Python de las Encuesta Permanente de Hogares (eph) publicadas por INDEC de forma periódica. Está pensada como un espacio donde se nuclean y centralizan los cálculos vinculados a las mismas para posteriormente ser utilizadas en investigaciones, artículos, publicaciones, etc. Es una librería que hace principal hincapié en la transparencia metodológica utilizando licencias de código abierto y que promueve la colaboración de las comunidades de cientístas de datos, sociales, investigadorxs, desarrolladorxs, periodistas y demás curiosxs.

https://github.com/institutohumai/pyeph

Para entender qué representan las columnas ver documentación:


https://www.indec.gob.ar/ftp/cuadros/menusuperior/eph/EPH_diseno_reg_t414.pdf

In [10]:
# Instalamos la librería.

%pip install pyeph

Collecting pyeph
  Downloading pyeph-1.2.0-py3-none-any.whl (64 kB)
     ---------------------------------------- 0.0/64.5 kB ? eta -:--:--
     ---------------------------------------- 64.5/64.5 kB 3.4 MB/s eta 0:00:00
Requirement already satisfied: ipykernel<7.0.0,>=6.13.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from pyeph) (6.23.1)
Requirement already satisfied: openpyxl<4.0.0,>=3.0.10 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from pyeph) (3.1.2)
Requirement already satisfied: pandas<2.0.0,>=1.1.5 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from pyeph) (1.5.3)
Collecting wget<4.0,>=3.2 (from pyeph)
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting xlrd<3.0.0,>=2.0.1 (from pyeph)
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     ---------------------------------------- 96.5/96.5 kB 5.4 MB/s eta 0:00:00
Requirement already satisfied: comm>=0.1.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipykernel<7.0.0,>=6.13.0->pyeph) (0.1.3)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipykernel<7.0.0,>=6.13.0->pyeph) (1.6.7)
Requirement already satisfied: ipython>=7.23.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipykernel<7.0.0,>=6.13.0->pyeph) (8.13.2)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipykernel<7.0.0,>=6.13.0->pyeph) (8.2.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipykernel<7.0.0,>=6.13.0->pyeph) (5.3.0)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipykernel<7.0.0,>=6.13.0->pyeph) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipykernel<7.0.0,>=6.13.0->pyeph) (1.5.6)
Requirement already satisfied: packaging in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipykernel<7.0.0,>=6.13.0->pyeph) (23.1)
Requirement already satisfied: psutil in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipykernel<7.0.0,>=6.13.0->pyeph) (5.9.5)
Requirement already satisfied: pyzmq>=20 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipykernel<7.0.0,>=6.13.0->pyeph) (25.0.2)
Requirement already satisfied: tornado>=6.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipykernel<7.0.0,>=6.13.0->pyeph) (6.3.2)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipykernel<7.0.0,>=6.13.0->pyeph) (5.9.0)
Requirement already satisfied: et-xmlfile in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from openpyxl<4.0.0,>=3.0.10->pyeph) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from pandas<2.0.0,>=1.1.5->pyeph) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from pandas<2.0.0,>=1.1.5->pyeph) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from pandas<2.0.0,>=1.1.5->pyeph) (1.23.5)
Requirement already satisfied: backcall in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.13.0->pyeph) (0.2.0)
Requirement already satisfied: decorator in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.13.0->pyeph) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.13.0->pyeph) (0.18.2)
Requirement already satisfied: pickleshare in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.13.0->pyeph) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.13.0->pyeph) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.13.0->pyeph) (2.15.1)
Requirement already satisfied: stack-data in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.13.0->pyeph) (0.6.2)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.13.0->pyeph) (0.4.6)
Requirement already satisfied: platformdirs>=2.5 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel<7.0.0,>=6.13.0->pyeph) (3.5.1)
Requirement already satisfied: pywin32>=300 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel<7.0.0,>=6.13.0->pyeph) (306)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.1.5->pyeph) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel<7.0.0,>=6.13.0->pyeph) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=7.23.1->ipykernel<7.0.0,>=6.13.0->pyeph) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.13.0->pyeph) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.13.0->pyeph) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.13.0->pyeph) (0.2.2)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py): started
  Building wheel for wget (setup.py): finished with status 'done'
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9681 sha256=283ef9f0e04770e967af8d98a85c520195355bf58704ef861c01f05cbfaed8b5
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\40\b3\0f\a40dbd1c6861731779f62cc4babcb234387e11d697df70ee97
Successfully built wget
Installing collected packages: wget, xlrd, pyeph
Successfully installed pyeph-1.2.0 wget-3.2 xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pyeph

In [12]:
# Ejemplo: traemos el 2do trimestre del 2021
eph = pyeph.get(data="eph", year=2021, period=2, base_type='individual') # EPH individual

Obtenido con exito: base_individual_2021T2.zip

In [13]:
eph.columns

Index(['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15',
       'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA',
       ...
       'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR',
       'PDECCFR', 'ADECCFR', 'PONDIH'],
      dtype='object', length=177)

Levantar la última base individual de EPH 

Crear una variable llamada Variables que contenga los nombres de las siguientes variables de interés para realizar algunos ejercicios:

Edad (CH_06), Sexo (CH_04), Ingreso de la ocupación principal (P21), Categoría ocupacional (CAT_OCUP), Condición de actividad (ESTADO), Ponderación (PONDERA)

Calcular las tasas de actividad, empleo y desempleo según sexo, para jóvenes entre 18 y 35 años
Calcular el salario promedio por sexo, para dos grupos de edad: 18 a 35 años y 36 a 70 años. (Recordatorio: La base debe filtrarse para contener únicamente OCUPADOS ASALARIADOS)
Grabar los resultados en un excel

Sexo
    01 = Varón
    02 = Mujer
    
Categoría ocupacional (para ocupados y desocupados con
ocupación anterior)
    1 = Patrón
    2 = Cuenta propia
    3 = Obrero o empleado
    4 = Trabajador familiar sin remuneración
    9 = Ns/Nr


Estado Condición de actividad
    0 = Entrevista individual no realizada (no respuesta al
Cuestionario Individual)
    1 = Ocupado
    2 = Desocupado
    3 = Inactivo
    4 = Menor de 10 años

In [14]:
#Filtramos por columnas
eph_2=eph[["CH06", "CH04", "P21", "CAT_OCUP", "ESTADO", "PONDERA"]]

In [15]:
#Renombramos columnas
eph_2.columns=["edad", "sexo", "ingreso", "cat_ocup", "estado", "pondera"]

La columna "pondera" representa un estimado poblacional de las personas que representa cada fila. Por lo tanto, para cada cálculo es necesario operar con esa columna. Por ejemplo, la fila 0 representa a 214 personas de sexo masculino, que tienen $50.000 de ingreso de la ocupación principal, su categoría es cuentapropista y pertenecen al segmento de ocupados.

In [16]:
eph_2

       edad  sexo  ingreso  cat_ocup  estado  pondera
0        58     1    50000         2       1      214
1        24     1        0         3       2      214
2        51     2        0         4       1      192
3        27     1     4000         2       1      192
4        18     1        0         0       3      192
...     ...   ...      ...       ...     ...      ...
47080    77     2        0         0       3       86
47081    57     1       -9         2       1       86
47082    73     2        0         0       3      230
47083    44     2    18000         3       1      230
47084    20     1     4000         2       1      230

[47085 rows x 6 columns]

In [17]:
print(eph_2.query("sexo==1")["pondera"].sum())
print(eph_2.query("sexo==2")["pondera"].sum())

14038615
14833824

In [18]:
print(eph_2["pondera"].sum())

28872439

a) Traer un dataframe que filtre solo a las personas que tengan 21 años o menos.

In [19]:
eph_2.query("edad<=21")

       edad  sexo  ingreso  cat_ocup  estado  pondera
4        18     1        0         0       3      192
8         5     1        0         0       4      250
11       19     2        0         0       3      250
12       17     1        0         0       3      250
13       14     1        0         0       3      250
...     ...   ...      ...       ...     ...      ...
47070    15     2        0         0       3       46
47071    13     1        0         0       3       46
47074     8     1        0         0       4       49
47077    10     1        0         0       3      111
47084    20     1     4000         2       1      230

[15192 rows x 6 columns]

b) Traer un dataframe que filtre a las personas desocupadas de más de 40 años.

In [20]:
eph_2.query("estado==2 | edad>40")

       edad  sexo  ingreso  cat_ocup  estado  pondera
0        58     1    50000         2       1      214
1        24     1        0         3       2      214
2        51     2        0         4       1      192
5        45     1   120000         3       1      192
9        65     2        0         0       3      187
...     ...   ...      ...       ...     ...      ...
47073    41     2    57000         3       1       49
47080    77     2        0         0       3       86
47081    57     1       -9         2       1       86
47082    73     2        0         0       3      230
47083    44     2    18000         3       1      230

[20282 rows x 6 columns]

c) ¿Cuántas mujeres hay en la base de datos? ¿Y hombres?

In [21]:
hombres=eph_2.query("sexo==1")["pondera"].sum()
mujeres=eph_2.query("sexo==2")["pondera"].sum()

print (f"Hay {hombres} hombres y {mujeres} mujeres en la base de datos")

Hay 14038615 hombres y 14833824 mujeres en la base de datos

d) ¿Cuál era la tasa de desocupación en el período seleccionado para las mujeres? ¿Era más alta o más baja que la de los hombres? (Extra: pensar el resultado usando una función)

Nota: la tasa se calcula como Desocupados / (Ocupados + Desocupados)

In [22]:
# Mujeres ocupadas
ocup_m=eph_2.query("sexo==2 & estado==2")["pondera"].sum()

In [23]:
# Población económicamente activa de mujeres (Ocupadas + Descoupadas)
PEA_m=eph_2.query("sexo==2 & (estado==1 | estado==2)")["pondera"].sum()

In [24]:
# Tasa de desocupación de las mujeres
tasa_desocup_m = ocup_m / PEA_m

In [25]:
print(f"La tasa de desocupacion de las mujeres en el segundo trimestre del 2021 era de un {int(tasa_desocup_m*100)}%")

La tasa de desocupacion de las mujeres en el segundo trimestre del 2021 era de un 10%

In [26]:
# Hombres ocupados
ocup_h=eph_2.query("sexo==1 & estado==2")["pondera"].sum()

In [27]:
# Población económicamente activa de hombres (Ocupados + Desocupados)
PEA_h=eph_2.query("sexo==1 & (estado==1 | estado==2)")["pondera"].sum()

In [28]:
# Tasa de desocupación de los hombres
tasa_desocup_h = ocup_h / PEA_h

In [29]:
print(f"La tasa de desocupacion de los hombres en el segundo trimestre del 2021 era de un {int(tasa_desocup_h*100)}%")

La tasa de desocupacion de los hombres en el segundo trimestre del 2021 era de un 9%

In [30]:
if tasa_desocup_h>tasa_desocup_m:
    print (f"La tasa de desocupación de los hombres en el 2T del 2021 era de un {int(tasa_desocup_h*100)}%, más alta que el {int(tasa_desocup_m*100)}% de las mujeres.")
else:
    print (f"La tasa de desocupación de los hombres en el 2T del 2021 era de un {int(tasa_desocup_h*100)}%, más baja que el {int(tasa_desocup_m*100)}% de las mujeres.")

La tasa de desocupación de los hombres en el 2T del 2021 era de un 9%, más baja que el 10% de las mujeres.